	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-arrow-circle-right"></i> Artist Statements</h3>
	</div>
	<div class="panel-body">
		<h1>HELLO!</h1>
		
	<div class="table-responsive">

		<table>
			<tr>
			<td> Description</td>
			<td> Statement</td>
			</tr>
			<% @artist_statement.each do |artist_statement| %>
			<tr>
				<td> <%= artist_statement.description %></td>
				<td> <%= artist_statement.statement %></td>
			</tr>
			<%end%>

		</table>
<div class="text-right">
	<a href="#"><i class="fa fa-arrow-circle-right"></i></a>
</div>
	</div>