<div class="col-lg-5">
	<div ng-app="app">
		<div ng-controller="artistsCtrl" >
			<div ng-init="getUserInfo(<%= current_user.id %>)" >
			</div>
			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-arrow-circle-right"></i> Artist Statements</h3>
			</div>
			<div class="panel panel-default">
				<table class="table table-bordered table-hover table-striped" >
					<tr>
						<th> Title</th>
						<th> Statement</th>
					</tr>
					<tr ng-repeat="statement in user.statements" >
						<td>{{statement.description}}</td>
						<td>{{statement.statement}}</td>
					</tr>
				</table>
			</div>
			<a href ng-click="visible = !visible"> add a new Statement</a>
			<div ng-show="visible" ng-class="ng-hide">
			<label>Description</label>
			<input ng-model="newArtistStatementDescription">
			<label>Statement</label>
			<input ng-model="newArtistStatementStatement">
			<button ng-click="addArtistStatement(newArtistStatementDescription, newArtistStatementStatement)">Add statement</button>
			</div>
		</div>
	</div>
</div>
