<div class="col-lg-5">
		
		<div class="panel panel-default">
			<table class="table">
				<tr>
					<td colspan="3" class = "panel-title"><i class = "fa fa-arrow-circle-right"> Deadlines</td>
				</tr>
				<tr>
					<td>Due Date</td>
					<td>Description</td>
					<td>Status</td>
				</tr>
				<% current_user.deadlines.each do |deadline| %>
				<tr>
					<td><%= deadline.date %></td>
					<td><%= deadline.name %></td>
					<td><%= deadline.description %></td>
				</tr>
				<%end%>
			</table>
		</div>
</div>