<div ng-app="app">
<div ng-controller="artistsCtrl" >
		<div ng-init="getUserInfo(<%= current_user.id %>)" ></div>
		<!-- {{ 1 + 1 }} -->
		<div >
			<table>
			<tr>
					<th colspan="3" class="panel-title" ><i class = "fa fa-arrow-circle-right"> Things to Do</th>
				</tr>
			</table>
		<table ng-repeat="opportunity in user.opportunities" class="table table-bordered table-hover table-striped"  >
			<tr>
				<td colspan="3"><a href ="/opportunities/show">{{opportunity.opportunity}}</a> due: {{opportunity.deadline}}</td>
			</tr>
				
			<tr ng-repeat="deadline in opportunity.deadlines">
				
				<td>{{ deadline.date}}</td>
				<td >{{ deadline.name }}</td>
				<td>{{ deadline.description }}</td>
				
			</tr>
			
		</table>
		

		</div>
	</div>

</div>



