<div ng-app="app">
<div ng-controller="artistsCtrl">
		<div ng-init="getUserInfo(<%= current_user.id %>)" ></div>
		<!-- {{ 1 + 1 }} -->
		<table class="table">
			<tr>
				<td class="panel-title" ng-repeat="opportunity in user.opportunities" ><i class = "fa fa-arrow-circle-right"> Need to do</td>
			</tr> 
			<tr>
				<td >{{ deadline.name }}</td>
				<td>{{ deadline.description }}</td>
				<td>{{ deadline.date}}</td>
			</tr>
		
		</table>

		
	</div>
</div>


