<div ng-app="app">
<div ng-controller="artistsCtrl">
		<div ng-init="getUserInfo(<%= current_user.id %>) "></div>
		<!-- {{ 1 + 1 }} -->
		<h3>Education:</h3>
		<ul class="unstyled">
			<li ng-repeat="education in user.educations">
				{{ education.school }}, {{ education.year}}, {{education.degree}}
			</li>
		</ul>

		<label>School</label>
		<input ng-model="newEducationSchool">
		<label>Year</label>
		<input ng-model="newEducationYear">
		<label>Degree</label>
		<input ng-model="newEducationDegree">
		<button ng-click="addEducation(newEducationSchool, newEducationYear, newEducationDegree)">Add a degree</button>
	</div>
</div>