<div ng-app="app">
<div ng-controller="artistsCtrl">
		<div ng-init="getUserInfo(<%= current_user.id %>)" ></div>
	<div class = "image-container" ng-repeat="image in user.images" > 
		
		<img src ="{{ image.image}}">
		<div class="image-info">
			<p>{{ image.title }} </p>
			<p>{{image.description }}</p>
			<p>{{image.year}}, {{image.size }}, {{image.medium}}</p>
		</div>
	</div>
	<div class ="image-container">
		<h3>Add an image</h3>
		<label>Upload an Image</label>
		<input type="file" ng-model="newImageImage">
		<label>Title</label>
		<input ng-model="newImageTitle">
		<label>Medium</label>
		<input ng-model="newImageMedium">
		<label>Year</label>
		<input ng-model="newImageYear">
		<label>Description</label>
		<input ng-model="newImageDescription">
		<label>Size</label>
		<input ng-model="newImageSize">
		<button ng-click="addImage(newImageImage, newImageTitle, newImageMedium, newImageYear, newImageDescription, newImageSize)">Add an Image</button>
	</div>
</div>
</div>
