<div ng-app="app">
<div ng-controller="artistsCtrl">
<div class="col-lg-5">
	<div ng-init="getUserInfo(<%= current_user.id %>)" ></div>
		<div class="panel-heading">
		<h2 class="panel-title"><i class="fa fa-arrow-circle-right"></i>Opportunities to Apply for</h2>
		</div>
			<div ng_controller="artistsCtrl">
				<table class="table" ng-repeat="opportunity in user.opportunities">
			<tr >
				<td class="panel-title" > </td>
			</tr >
			<tr>
				<td>{{opportunity.deadline}}</td>
				<td>{{opportunity.projectname}}</td>
				<td>{{opportunity.fee}}</td>
				<td>{{opportunity.prereq}}</td>

			</tr>
			
			</table>

			</div>
</div>

	