<div ng-app="app">
<div ng-controller="artistsCtrl">
<div class="col-lg-5">
	<div ng-init="getUserInfo(<%= current_user.id %>)" ></div>
		<div class="panel-heading">
		<h2 class="panel-title"><i class="fa fa-arrow-circle-right"></i>Opportunities to Apply for</h2>
		</div>
			<div ng-repeat="opportunity in user.opportunities" >
				<table class="table" >
			<tr >
				<td class="panel-title" > Deadline</td>
				<td> Title</td>
				<td>Fee</td>
				<td>
			</tr >
			<tr >
				<td>{{opportunity.deadline}}</td>
				<td>{{opportunity.opportunity}} <br> <a href="{{opportunity.url}}">url</a></td>
				<td>$ {{opportunity.fee}}</td>				
			</tr>
			
			</table>
			<table class ="table">
				<tr>
					<td ng-repeat="deadline in opportunity.deadlines">{{ deadline.name }}</td>
				</tr>
			</div>
</div>

	