<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Attached please find my documents for the submittal: </p>
		<p>Below is my artist statement:</p>
		<p><%= @artist_statement.statement %></p>
		<p><%= @opportunity.projectname %> </p>
  </body>
</html>