
<div ng-app="app">
	<div ng-controller="artistsCtrl">
		<div class="col-lg-5">
			<div ng-init="getUserInfo(<%= current_user.id %>)" >
			</div>
			<div class="panel-heading">
			<h2 class="panel-title"><i class="fa fa-arrow-circle-right"></i>Opportunities to Apply for</h2>
			</div>
					<div class="panel panel-default" ng-repeat="opportunity in user.opportunities" >
						<table class="table table-bordered table-hover table-striped" >
					<tr >
						<td>Deadline</td>
						<td>Title</td>
						<td>Gallery</td>
						<td>Fee</td>
						
					</tr >
					<tr >
						<td>{{opportunity.deadline}}</td>
						<td>{{opportunity.opportunity}} <br> <a href="{{opportunity.url}}">url</a></td>
						<td>{{opportunity.entity_name}}</td>
						<td>$ {{opportunity.fee}}</td>				
					</tr>
					</table>
							<div class="panel panel-default" ng-repeat="deadline in opportunity.deadlines" >
								<table class="table table-bordered table-hover table-striped"  >
									<tr>
										<td colspan="3" > Need to do</td>
									</tr>
									
									<tr>
										<td>{{ deadline.date }}</td>
										<td>{{ deadline.name}}</td>
										<td>{{ deadline.description }}</td>
									</tr>
									<tr>
										<td colspan="3"><a href ng-click="visible = !visible"> add a new Deadline</a></td>
									</tr>

								</table>

								<table class = "table" ng-show="visible" ng-class="ng-hide">
									<tr>
										<td><label>Date</label><input ng-model="newDeadlineDate"></td>
										<td><label>Name</label><input ng-model="newDeadlineName"></td></td>
										<td><label>Description</label><input ng-model="newDeadlineDescription"><br>
										<button ng-click="addDeadline (newDeadlineDate, newDeadlineName, newDeadlineDescription)">Add Deadline</button></td></td>
										
									</tr>
								</table>
							</div>
					</div>
					<p><a href ="/opportunities/new">add an opportunities</a></p>
		</div>	
	</div>			
</div>
