
	<table class="table">
		<thead>
    <tr>
      <th class="col-md-2"><%= @opportunity.projectname %></th>
      <th class="col-md=1">&nbsp;</th>
      </tr>
  </thead>
   <tbody>
<tr>
<td><b>Project Scope:</b> <%= @opportunity.project_scope %></td>
</tr>
 </tbody>

</table>

