body {
    margin-top: 100px;
    background-color: #ffffff;
}

body.signed-out-body {
    background-image: url("pastels_lores.jpg");
    background-color:  #ffffff;
}
.sign-in {
    width: auto;
    margin-top: 100px;
    background-color: #ffffff;
}

.page-container {
    float: left;
    margin-top: 50px;
 }
@media(min-width:500px) {
    body {
        margin-top: 0px;
    }
}
@media(min-width:500px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #BFEFFF;
    }
    .navbar-nav>li>a {
        color: #ffffff;
    }
   .side-nav>ul {
        color: #ffffff;
   }

    .side-nav>li>a {
        width: 225px;
        color: #ffffff;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #00bac8 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #ffffff ;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
.image-container {
    width: 250px;
    display: block;
    float: left;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #BFEFFF;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #888888;
}
.image-container img {
    width: 100px;
    height: 150px;
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;

}
.image-info {
    padding-left: 5px;
}
.image-container p {
    margin: 10px;
}
.unstyled {

 list-style: none;
} 