html body {
  height: 100%;
}
body {
    margin-top: 100px;
   
}

body.signed-out-body {
    background-image: url("pastels_lores.jpg");
    background-color:  #ffffff;
}
.sign-in {
    width: auto;
    margin-top: 100px;
    background-color: #ffffff;
}
.container-fluid {
    min-height: 100% !important;
    margin-top: 66px;
    margin-left: 20px;
    border-style: solid;
    border-color: #BFEFFF;
    background-color: #BFEFFF !important;
    border-radius: 10px;
    

}
.ng-scope {
  padding-top: 10px;
}
.panel {
  margin: 10px;
}
.page-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    border-style: solid;
    border-color: #BFEFFF;
    border-radius: 10px;
    min-height: 500px;
    background-color: #ffffff !important;
    overflow-y: hidden;
    padding-left: 20px;
    margin-top: 10px;

 }
@media(min-width:500px) {
    body {
        margin-top: 0px;
        background-image: url("swirl_pattern.png");
    }
}
@media(min-width:500px) {
    #wrapper {
        padding-left: 225px;
        background-image: url("swirl_pattern.png");
    }

    #page-wrapper {
      
        background-image: url("swirl_pattern.png");
    }
}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-top: 25px;
        margin-left: -200px;
        border: none;
        border-radius: 10px;
        overflow-y: auto;
        background-color: #BFEFFF;
    }
    .navbar-nav>li>a {
        color: #ffffff;
    }
   .side-nav>ul {
        color: #ffffff;
   }

    .side-nav>li>a {
        width: 225px;
        color: #ffffff;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #00bac8 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #ffffff ;
}
.right-box {
    position: fixed;
    float: right;
    top: 51px;
    left: 575px;
    width: 225px;
    margin-top: 25px;
    margin-left: 200px;
    border: none;
    border-radius: 10px;
    overflow-y: auto;
    background-color: #ffffff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}



// .artist-nav {
//     background-color: #BFEFFF;
// }
.resume {
    width: 500px;
    height: auto;
    float: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #BFEFFF;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #888888;
    font-family: Optima;
}
.resume {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #d3d3d3;
}
.resume h2 {
    font-size: 16;
    text-align: center;

}
.resume h3 {
    font-size: 14px;
    font-weight: bold;
    
}
.profile_info {
    text-align: center;
}
.profile img {

    width: 100px;
    height: 100px;
    border: 1px;
    border-radius: 50px;
    border-style: solid;
    border-color: #ffffff;
    float: left;
    display: block;
    margin: 20px;
}

input {
 padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input :focus {
  outline: none;
}
.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}
.form {
  padding-top: 20px;
}
.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}
.simple_form .input {
  width: 100%;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}
input.text_boxes
input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}
.btn-default {
  margin-top: 10px !important;
}
label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
table-bordered {
  padding-right: 20px !important;
  width: 100% !important;
}
.table {
  width: 100%;
}
