// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
#page-wrapper {
    background-color: #ffffff;
}

.container-fluid {
    background-color: #ffffff;
}
 .page-container {
 	padding: 20px;
 }
.resume {
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #d3d3d3;
}
