<div ng-app="app">
<div ng-controller="artistsCtrl">
		<div ng-init="getUserInfo(<%= current_user.id %>)" ></div>
	<div ng-repeat="image in user.images"> 
		
		<img src="{{ image.image }}" class ="img-thunbnail">
		<div >
			<p>{{ image.title }} </p>
			<p>{{image.description }}</p>
			<p>{{image.year}}, {{image.size }}, {{image.medium}}</p>
		</div>
		<p><a href="">add a new image</a></p>
	</div>


</div>
</div>



