<div ng-app="app">
	<div ng-controller="artistsCtrl">
		<div ng-init="getUserInfo(<%= current_user.id %>)" ></div>
			<div ng-repeat="image in user.images" class = "image-container"> 
			<img src="{{ image.image }}" >
			<p>{{image.title }} </p>
			<p>{{image.size }}</p>
			</div>
			<div class = "row" colspan ="5" id="right-link" >
				<p><a href="/images/new">add a new image</a></p>
			</div>
		</div>
	</div>
</div>



